ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}
#mainName{
    background-color: #333;
    color: white;
    font-size: 35px;
}
p{
    margin: 0;
}
#head{
    background-color: aqua;
}
#show{
    padding: 5px;
}
#average{
    font-size: 25px;
}
#searchButton{
    border-radius: 6px;
    background-color: #333;
    color: white;
    width: 50px;
    height: 30px;
}
#search{
    margin: 10px;
    width: 250px;
    height: 30px;
    border-color: aqua;
}